.date_page {
    background-color: rgba(248, 233, 220, 0.959);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}